<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="../static/css/add.css">
</head>
<body>
<div th:replace="navbar_fragment"></div>

<div class="container">
    <h1>Add Task</h1>
    <form action="/tasks/add" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4"></textarea><br>

        <label for="deadline">Deadline:</label><br>
        <input type="date" id="deadline" name="deadline"><br>

        <label for="stat">Status:</label><br>
        <select id="stat" name="stat">
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select><br><br>

        <button type="submit">Add Task</button>
    </form>
</div>
</body>
</html>
