<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="navbar_fragment">
    <link rel="stylesheet" href="../static/css/home.css">
    <div>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo">Task Manager</h1>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/tasks">Tasks</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/signup">Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>