<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="navbar_fragment"></div>
<form action="/tasks/status/" method="POST">

    <label for="stat">Status:</label><br>
    <select id="stat" name="stat">
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
    </select><br><br>
    <input type="hidden" name="id" th:value="${id}">
    <button type="submit">Change</button>
</form>
</body>
</html>